<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zstu.edu.mapper.RoleMapper">

    <select id="selectListById" resultType="com.zstu.edu.entity.Role">
        select * from role where 1=1 and id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="selectByUserId" resultType="com.zstu.edu.entity.Role">
        select * from user_role where user_id=#{id}
    </select>
    <select id="selectRoleIdByUserId" resultType="java.lang.Integer">
        select role_id from user_role where user_id=#{id}
    </select>
    <select id="getByRole" resultType="com.zstu.edu.entity.Role">
        select * from role where role=#{role}
    </select>
    <select id="selectAll" resultType="com.zstu.edu.entity.Role">
        select * from role where id!=2
    </select>
</mapper>
